*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: rgb(255, 255, 255);
    background-image: url("black-background");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* the main card container */

.card{
  background-image: url("assets/2x/triangle-background");
  background-size:cover;
  background-repeat: no-repeat;
  width: 441px;
  height: 254px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}

h1{
  margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  text-align: center;
  font-size: 16px;
  position: relative; 
  top: 167px;
  color: #000000;
  
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
  font-size: 10px;
  text-align: center;
  position: relative; 
  top: 167px;
  color: #000000;
} 

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  position: relative; 
  top: 180px;
}
/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: #000000;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(198, 79, 181);
}
.icon-container{
  width:20%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-gap:10px;
  }
/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  .card{
    width: 390px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  h1{
    top: 22px;
    font-size: 37px;
  }
  
  h2{
    font-size: 23px;
    top: 20px;
  } 
  
  h3{
    font-size:17px;
    top: 60px;
  }
  }